@font-face {
    font-family: 'Open Sans';
    src: url('font/open-sans.woff2') format('woff2');
}


body {
  color: black;
  background-image: url("images/big-smash.png");
  background-repeat: repeat-x, repeat-y;
  font-family: 'Open Sans';
  margin-left: 5%;
  margin-right: 10%;
}

div {
  background-color: white;
}
.button {
  cursor: pointer;
  
  background-color: #ffffff;
  color: #000000;
  
  text-align: center;
  
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #000000;
  
  width: 5%;
  
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
}
